.caption-1 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.caption-2 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.caption-3 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.caption-4 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.body-1 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.1em;
}

.body-2 {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.headline-1 {
  font-family: "Rankings Caps", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.headline-2 {
  font-family: "North Avellion", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0.05em;
}

.headline-3 {
  font-family: "Rankings Caps", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.1em;
}

.headline-4 {
  font-family: "North Avellion", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.05em;
}

.headline-5 {
  font-family: "North Avellion", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
}
